<!DOCTYPE html>
<html>
<head>
  <title>Report Update</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
  <style>
     body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      max-width: 80%;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    select,
    #geo_coordinates_address,
    button {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    button {
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #555;
    }

    #map {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        margin: 20px auto;
        padding: 20px;
        height: 250px;
        width: 80%;
    }
  </style>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <div id="map"></div>
    <form action="/reports/<%= report.id %>" method="POST">   
        <label for="type">Type:</label>
        <select name="type" id="type">
          <option value="1" <% if (report.type === '1') { %>selected<% } %>>Pothole</option>
          <option value="2" <% if (report.type === '2') { %>selected<% } %>>Obstacle</option>
          <option value="3" <% if (report.type === '3') { %>selected<% } %>>Road Closure</option>
        </select>
    
        <input type="hidden" id="geo_coordinates" name="geo_coordinates" placeholder="Geo Coordinates" value="<%= report.geo_coordinates %>">
        <input type="input" id="geo_coordinates_address" name="geo_coordinates_address" placeholder="Geo Coordinates" value="">
        
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" placeholder="Description" value="<%= report.description %>">
        
        <label for="status">Status:</label>
        <select name="status" id="status">
          <option value="1" <% if (report.type === 1) { %>selected<% } %>>PENDING</option>
          <% if (userRole === 1) { %>
          <option value="2" <% if (report.type === 2) { %>selected<% } %>>ACCEPTED</option>
          <% } %>
          <option value="99" <% if (report.type === 99) { %>selected<% } %>>DECLINED</option>
        </select>
    
        <button type="submit">Update Report</button>
      </form>
</body>
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    navigator.geolocation.watchPosition(success, error);
    let marker, circle, zoomed;
    function success(pos) {
        let geoCoordinatesInput = document.getElementById('geo_coordinates');
        const accuracy = pos.coords.accuracy; // Accuracy in metres

        let lat, lng;
        if (geoCoordinatesInput.value !== "" && geoCoordinatesInput.value !== null && geoCoordinatesInput.value !== undefined) {
            const coordinates = geoCoordinatesInput.value.split(',');
            lat = coordinates[0] ? parseFloat(coordinates[0].trim()) : '';
            lng = coordinates[1] ? parseFloat(coordinates[1].trim()) : '';
            geoCoordinatesInput.value = lat + ', ' + lng;
        } else {
            lat = pos.coords.latitude;
            lng = pos.coords.longitude;
            geoCoordinatesInput.value = lat + ', ' + lng;
        }

        map.on('click', function(e) {
            lat = e.latlng.lat;
            lng = e.latlng.lng;

            // Update marker position
            marker.setLatLng(e.latlng);

            // Store the coordinates in the input field
            geoCoordinatesInput.value = lat + ', ' + lng;
            getAddressFromCoordinate(lat, lng);
        });

        if (marker) {
            map.removeLayer(marker);
        }

        getAddressFromCoordinate(lat, lng);
        marker = L.marker([lat, lng]).addTo(map);
        if (zoomed) {
            zoomed = map.setView([lat, lng]);
        }
        

        map.setView([lat, lng]);
    }

    function error(err) {
        if (err.code === 1) {
            alert("Please allow geolocation access");
            // Runs if user refuses access
        } else {
            alert("Cannot get current location");
            // Runs if there was a technical problem.
        }
    }

    function isValidCoordinates(lat, lng) {
        // Regular expressions for latitude and longitude patterns
        const latPattern = /^[-]?([0-9]{1,2}\.[0-9]{1,14})$/;
        const lngPattern = /^[-]?([0-9]{1,3}\.[0-9]{1,14})$/;

        return latPattern.test(lat) && lngPattern.test(lng);
    }

    function getAddressFromCoordinate(lat, lng) {
        fetch(`https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`)
            .then(response => response.json())
            .then(data => {
                const address = data.display_name;
                const addressElement = document.getElementById('geo_coordinates_address');
                addressElement.value = address;
            })
            .catch(error => {
                console.log('Error:', error);
            });
    }
</script>
</html>